#seller-all-product-wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.seller__allProduct--wrap {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0.125rem 0.25rem #1b1b1b13;
    -webkit-box-shadow: 0 0.125rem 0.25rem #1b1b1b13;
    -moz-box-shadow: 0 0.125rem 0.25rem #1b1b1b13;
}
#seller-all-product-notification {
    display: flex;
    padding: 0 10px 0 0;
    gap: 10px;
}
#seller-all-product-notification-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#seller-all-product-notification-title {
    font-weight: bold;
}
#seller-all-product-notification-desc {
    display: flex;
    gap: 10px;
    font-size: 13px;
}
#seller-all-product-notification-desc button {
    all: unset;
    color: var(--color-4);
    border: 1px solid var(--color-4);
    border-radius: 3px;
    white-space: nowrap;
    padding: 0 15px;
    height: 30px;
    cursor: pointer;
}
#seller-all-product-search-wrap {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 15px;
}
#seller-all-product-search-form {
    display: flex;
    gap: 25px;
}
#seller-all-product-search-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#seller-all-product-search-attribute {
    display: flex;
    width: 520px;
    font-size: 14px;
}
#seller-all-product-search-input-attribute {
    width: 365px;
    border: 1px solid #e5e5e5;
    padding: 0 10px;
    height: 30px;
    border-radius: 0 4px 4px 0;
}
#seller-all-product-search-attribute select {
    width: calc(100% - 365px);
    border: 1px solid #e5e5e5;
    padding: 0 5px;
    height: 30px;
    border-radius: 4px 0 0 4px;
}
#seller-all-product-search-storage {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
}
#seller-all-product-search-storage-number {
    display: flex;
    gap: 5px;
    align-items: center;
}
#seller-all-product-search-storage-number input {
    width: 205px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    height: 30px;
    padding: 0 10px;
}
#seller-all-product-search-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#seller-all-product-search-category {
    display: flex;
    gap: 15px;
    width: 500px;
    font-size: 15px;
    white-space: nowrap;
    align-items: center;
}
#seller-all-product-search-category input {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    padding: 0 10px;
}
#seller-all-product-sales {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 15px;
    align-items: center;
}
#seller-all-product-sales-number {
    display: flex;
    gap: 5px;
    align-items: center;
}
#seller-all-product-sales-number input {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    height: 30px;
    padding: 0 10px;
}
#seller-all-product-search-action {
    display: flex;
    gap: 15px;
}
#seller-all-product-search-search-button {
    all: unset;
    border-radius: 3px;
    color: white;
    background-color: var(--color-4);
    height: 30px;
    width: 70px;
    text-align: center;
}
#seller-all-product-search-clear-button {
    all: unset;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    height: 30px;
    text-align: center;
    width: 90px;
}
#seller-all-product-navigation-wrap {
    padding: 0 25px;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
}
.seller__allProduct--tab {
    padding: 15px;
    cursor: pointer;
}
#seller-all-product-index-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#seller-all-product-amount {
    display: flex;
    flex-direction: column;
}
#seller-all-product-remain {
    font-size: 13px;
}
#seller-all-product-number {
    font-weight: bold;
    font-size: 19px;
}
#seller-all-product-process-bar {
    height: 5px;
    width: 100px;
    border-radius: 10px;
    background-color: #f6f6f6;
    /* background: linear-gradient(
        90deg,
        #55cc77 0%,
        #55cc77 var(--i),
        #f6f6f6 var(--i),
        #f6f6f6 100%
    ); */
}
#seller-all-product-process-bar-percent {
    border-radius: inherit;
    min-width: 10%;
    background-color: #55cc77;
    width: var(--i);
    height: inherit;
}
#seller-all-product-action-field {
    display: flex;
    align-items: center;
    gap: 15px;
}
#seller-all-product-add {
    width: 200px;
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    color: white;
    background-color: var(--color-4);
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    text-decoration: none !important;
}
#seller-all-product-multiply-handle {
    cursor: pointer;
    width: 200px;
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #e5e5e5;
}
#seller-all-product-view-type {
    display: flex;
    gap: 5px;
    background-color: #f5f5f5;
    height: 40px;
    align-items: center;
    width: 75px;
    border-radius: 3px;
    justify-content: center;
    padding: 4px;
}
#seller-all-product-view-list{
    background-color: white;
    color: var(--color-4);
}
#seller-all-product-view-list,
#seller-all-product-view-grid {
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: inherit;
    cursor: pointer;
}

.active__tab {
    color: var(--color-4) !important;
    border-bottom: 4px solid !important;
    font-weight: bold;
}
#seller-all-product-list-wrap {
    padding: 25px;
}
#seller-all-product-table-wrap {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.seller__allProduct--table-grid {
    display: grid;
    grid-template-columns: 30px 230px repeat(6, 1fr);
    padding: 15px;
    gap: 10px;
}
#seller-all-product-table-header {
    background-color: #f6f6f6;
}
.seller__allProduct--card-checkbox-wrap {
    padding: 20px 0 0 0;
}
.seller__allProduct--card-info {
    display: flex;
    gap: 10px;
}
.seller__allProduct--card-status {
    font-weight: bold;
    font-size: 13px;
    background-color: #eeeeee;
    border-radius: 3px;
    width: fit-content;
    padding: 0 5px;
}
.seller__allProduct--name {
    font-size: 14px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    width: calc(100% - 70px);
    cursor: pointer;
}
.seller__allProduct--card-sku {
    font-size: 13px;
    overflow: hidden;
    width: calc(100% - 70px);
    white-space: nowrap;
    text-overflow: ellipsis;
}
.seller__allProduct--card-sku-code {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}
.seller__allProduct--interactive-wrap {
    display: flex;
    gap: 10px;
    font-size: 13px;
    color: #939393;
}
.seller__allProduct--card-interactive {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 13px;
}
.seller__allProduct--card-image {
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.seller__allProduct--card-price {
    font-size: 14px;
}
.seller__allProduct--card {
    margin: 10px 0;
}
.seller__allProduct--card-classification {
    font-size: 14px;
}
.seller__allProduct--card-storage {
    font-size: 14px;
}
.seller__allProduct--card-action {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
#seller-all-product-table-footer {
    display: flex;
    padding: 25px 0;
    margin: 0 20px;
    border-top: 1px solid #e5e5e5;
    justify-content: end;
    gap: 25px;
}
#seller-all-product-tab-index {
    display: flex;
    gap: 20px;
    align-items: center;
}
#seller-all-product-amount-tab {
    display: flex;
    align-items: center;
    color: #939393;
    gap: 5px;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    padding: 3px 7px;
}
#seller-allProduct-delete-card-wrap {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-top: 40px;
}
#seller-allProduct-delete-left-part {
    display: flex;
    align-items: center;
    gap: 15px;
}
#seller-allProduct-delete-right-part {
    display: flex;
    align-items: center;
    gap: 15px;
}

#seller-allProduct-card-hidden-btn,
#seller-allProduct-card-delete-btn,
#seller-allProduct-card-display-btn {
    all: unset;
    border-radius: 3px;
    width: fit-content;
    padding: 0 10px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}
#seller-allProduct-card-delete-btn {
    background-color: white;
    color: #333333;
    border: 1px solid #e5e5e5;
}
#seller-allProduct-card-delete-btn:hover {
    background-color: #f5f5f5;
}
#seller-allProduct-card-display-btn {
    background-color: var(--color-2);
    color: black;
}
#seller-allProduct-card-hidden-btn{
    background-color: var(--color-4);
    color: white;
}
#manage__product--amount-card-delete{
    color: var(--color-4);
    font-weight: bold;
}
.manage__product_group_classify{
    grid-column: 3 / 8;
    display: flex;
    flex-direction: column;
}
.manage__product_wrap_by_classify{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.manage__product_group_classify .manage__product_wrap_by_classify:nth-child(n+4){
    display: none;
}
.manage__product_wrap_by_classify.active{
    display: grid !important;
}
.manage__product_view_more_classification{
    font-size: 14px;
    position: relative;
    margin-top: 15px;
    user-select: none;
}
.manage__product_view_more_classification.active  ion-icon{
    transform: rotate(180deg);
}
.manage__product_view_more_classification::after{
    content: "";
    width: 100%;
    position: absolute;
    border-bottom: 1px dashed #e5e5e5;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.manage__product--amnt-cls-hden{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 0 10px;
    margin: auto;
}