@media screen and (max-width: 1080px) {
    #cart-header-wrap {
        display: none;
    }

    #cart-shopbee-img {
        display: none;
    }

    #cart-shopbee {
        font-size: 1.5rem;
        font-weight: bold;
        transform: none;
        margin: 0%;
    }

    #cart-page-warp,
    #cart-search-voucher,
    #cart-search-warp {
        width: 100%;
        height: fit-content;
    }

    #cart-search-inputVoucher {
        display: none;
    }

    #cart-search-shopbee-icon {
        flex: 2;
    }

    #cart-page-product-guide {
        display: none;
    }

    .cart_page_wrap_containt {
        width: 100%;
        margin: 0;
        outline: unset;
    }
.cart_page--card-transform{
    transform: translateX(-145px);
}
    .cart_page_infor_warp {
        grid-template-columns: 10% 90% 0%;
        grid-template-rows: 85px 0px 20px 25px 40px;
        row-gap: 2px;
        width: 100%;
        padding: 0;
        transition: 300ms cubic-bezier(0.14, -0.41, 0.82, 1.37);
    }
    .cart_page_actionDel{
        width: 55px;
        background-color: var(--color-4);
        height: 100%;
        display: grid;
        place-items: center;
    }
    .cart_page_actionDel ion-icon{
        color: white;
    }
    .cart_page_actionAdd{
        background-color: #F69113;
        color: white;
        height: 100%;
        display: grid;
        place-items: center;
        width: 100px;
        padding-right: 15px;
    }
    .cart_page_actionAdd ion-icon{
        display: none;
    }
    .cart_page_action_wrap_respon {
        grid-column-start: 3;
        grid-row: -6 / -1;
        height: 100%;
        display: flex;
    }
    .cart_page_pricePer_wrap_respon {
        grid-column-start: 2;
        grid-row-start: 2;
        padding-left: 90px;
    }

    .cart_page_btn {
        grid-column-start: 1;
    }

    .cart_page_name_product {
        justify-self: start;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        overflow: hidden;
        width: 100%;
        height: 70px;
        align-self: flex-end;
    }

    .cart_page_pricePer_wrap_respon {
        justify-self: start;
        grid-column-start: 2;
        grid-row-start: 3;
        padding-left: 90px;
    }

    .cart_page_option_wrap_respon {
        justify-self: start;
        grid-column-start: 2;
        grid-row-start: 4;
        padding-left: 90px;
    }
    .cart__page--hidden-wrap{
        overflow: hidden;
    }
    .cart__page-product-edit{
        display: block;
        padding-right: 20px;
        cursor: pointer;
    }
    .cart_page_about_option {
        display: flex;
        gap: 10px;
    }
    .cart_page_about_title{
        font-size: 13px !important;
        white-space: nowrap;
    }
    .cart__set--number-product-wrap {
        justify-self: start;
        grid-column-start: 2;
        grid-row-start: 5;
        padding: 0 0 10px 90px;
    }

    .cart_page_action_wrap {
        display: flex;
        flex-direction: row;
    }

    #cart-page-warp-containt {
        width: 100%;
        padding-top: 0%;
    }

    .cart_page_product_infor {
        width: 100%;
    }

    .cart_page_voucher_cover {
        width: 100%;
    }

    .cart_page_product_voucher,
    .cart_page_product_trans {
        padding: 0;
        height: 47px;
    }

    .cart_page_voucher_title {
        display: none;
    }

    .cart_page_voucher_cover {
        justify-content: space-between;
    }
    #scroll-to-top-respon {
        bottom: 20%;
    }

    .cart_page_voucher_detail,
    .cart_page_trans_detail {
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .cart_page_voucherAdd,
    .cart_page_transAdd {
        text-align: right;
        flex-grow: 1;
        align-items: flex-end;
    }

    :is(.cart_page_voucherAdd, .cart_page_transAdd) a {
        text-overflow: ellipsis;
        width: 80px;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        float: right;
    }

    /*! thanh toan field */
    #cart-page-sticky-function-del,
    #cart-page-sticky-function-delInactive,
    #cart-page-sticky-function-saveToLike {
        display: none;
    }

    #cart-page-sticky-wrap > div:nth-child(n) {
        gap: 5px;
        padding: 10px 0;
        height: auto;
    }

    #cart-page-sticky-coin-check {
        width: 100%;
        gap: 0;
    }

    #cart-page-sticky-coin-check > div:nth-child(3) {
        display: none;
    }

    #cart-page-sticky-coin-check input {
        display: none;
    }

    #cart-page-sticky-function {
        flex-shrink: 1;
        flex: 0;
    }

    #cart-page-sticky-function-selectAll {
        flex: 1;
    }

    #cart-page-go-buy {
        width: auto;
        height: auto;
        padding: 8px 10px;
        border-radius: 4px;
    }

    #cart-page-sticky-function-btnBuy #cart-page-go-buy button {
        width: 100%;
    }
    .cart_page_product_prize_infor {
        padding: 0;
    }

    #cart-page-sticky-block {
        z-index: 4;
    }

    #cart-page-sticky-block ion-icon {
        margin: 0 10px 0 0;
    }

    .cart_page_price_wrap_respon {
        display: none;
    }
    .cart_page_product_desc {
        align-self: flex-start;
    }
    ion-icon[name="ticket-outline"],
    ion-icon[name="car-outline"],
    ion-icon[name="logo-bitcoin"] {
        font-size: 1.4rem;
    }
    #cart-page-sticky-wrap {
        padding: 0 10px;
        font-size: 0.875rem;
    }

    #cart-page-sticky-voucher {
        justify-content: space-between;
    }

    #cart-page-sticky-voucher-wrap {
        width: fit-content;
    }
    #cart-page-sticky-function-sumCost {
        width: 150px;
        justify-content: center;
    }

    /*! pop up feature field */
    .cart_page_option_wrap_action_respon {
        transform: translateY(0%) scale(1) !important;
    }

    .cart_page_option_items {
        width: 100%;
        position: fixed;
        top: auto;
        bottom: 0%;
        left: 0%;
        height: 50vh;
        z-index: 5;
        transform: translateY(100%) scale(1);
    }

    .cart_page_option_items_wrap {
        position: relative;
        width: 100%;
        height: inherit;
    }

    .cart_page_option_items_wrap::after {
        content: "✕";
        width: 30px;
        aspect-ratio: 1;
        background-color: #f05d40;
        border-radius: 50%;
        box-sizing: border-box;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 5%;
        right: 2%;
        z-index: 6;
    }

    .cart_page_option_items_wrap::before {
        content: "";
        display: none;
    }

    .cart_hidden_respon {
        position: absolute;
        width: 100%;
        height: 1300px;
        z-index: 4;
        background-color: rgb(0, 0, 0, 0.5);
    }
    .cart_page_product_img img{
        height: 70px;
    }
    .cart__page-check-all{
        vertical-align: middle;
    }
    #cartPage-limit-alert{
        width: 375px;
        height: 245px;
    }
}
