@media screen and (max-width: 1080px) {
    #cart-header-wrap {
        display: none;
    }

    #cart-shopbee-img {
        display: none;
    }

    #cart-shopbee {
        font-size: 2rem;
        font-weight: bold;
    }

    #cart-page-warp,
    #cart-search-voucher,
    #cart-search-warp {
        width: 100%;
        /* overflow: hidden; */
    }

    #cart-search-inputVoucher {
        flex: 1;
    }

    #cart-search-shopbee-icon {
        flex: 2;
    }

    /* !the chon */
    #cart-page-product-guide {
        display: none;
    }

    .cart_page_wrap_containt {
        width: 100%;
        margin: 0;
    }

    .cart_page_infor_warp {
        grid-template-columns: 10% 90%;
        grid-template-rows: repeat(4, auto);
        gap: 8px;
        width: 100%;
        /* overflow: hidden; */
    }

    .cart_page_pricePer_wrap_respon {
        grid-column-start: 2;
        grid-row-start: 2;
        padding-left: 90px;
    }

    .cart_page_btn {
        grid-column-start: 1;
    }

    .cart_page_name_product {
        justify-self: start;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        overflow: hidden;
        width: 100%;
    }

    .cart_page_pricePer_wrap_respon {
        justify-self: start;
        grid-column-start: 2;
        grid-row-start: 3;
        padding-left: 90px;
    }

    .cart_page_option_wrap_respon {
        justify-self: start;
        grid-column-start: 2;
        grid-row-start: 4;
        padding-left: 90px;
    }

    .cart_page_about_option {
        display: flex;
        gap: 10px;
    }

    .cart__set--number-product-wrap {
        justify-self: start;
        grid-column-start: 2;
        grid-row-start: 5;
        padding-left: 90px;
    }

    .cart_page_price_wrap_respon {
        display: none;
    }

    .cart_page_action_wrap {
        display: none;
    }

    #cart-page-warp-containt {
        width: 100%;
    }

    .cart_page_product_infor {
        width: 100%;
    }

    .cart_page_voucher_cover {
        width: 100%;
    }

    .cart_page_product_voucher,
    .cart_page_product_trans {
        padding: 0;
    }

    .cart_page_voucher_title {
        display: none;
    }

    .cart_page_voucher_cover {
        justify-content: space-between;
    }
    #scroll-to-top-respon {
        bottom: 30%;
    }

    .cart_page_voucher_detail,
    .cart_page_trans_detail {
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .cart_page_voucherAdd,
    .cart_page_transAdd {
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /*! thanh toan field */
    #cart-page-sticky-function-del,
    #cart-page-sticky-function-delInactive,
    #cart-page-sticky-function-saveToLike {
        display: none;
    }

    #cart-page-sticky-function,
    #cart-page-sticky-voucher,
    #cart-page-sticky-coin {
        gap: 5px;
        padding: 15px 0;
    }

    #cart-page-sticky-coin-check {
        width: 100%;
        gap: 0;
    }

    #cart-page-sticky-coin-check > div:nth-child(3) {
        display: none;
    }

    #cart-page-sticky-coin-check input {
        display: none;
    }
    #cart-page-sticky-function-btnBuy #cart-page-go-buy button {
        width: 100px;
    }
    .cart_page_product_prize_infor {
        padding: 0 10px;
    }

    #cart-page-sticky-block ion-icon {
        margin: 0 10px 0 0;
    }

    #cart-page-sticky-voucher-input {
        text-align: right;
    }
}
