* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
  font-family: Arial, Helvetica, sans-serif;
}
#cart-search-voucher {
  width: 100%;
  height: 100px;
  background-color: white;
  border-bottom: 1px solid #00000017;
}

#cart-search-warp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  height: inherit;
}

#cart-search-shopbee-icon {
  display: flex;
  align-items: center;
  text-align: center;
}

#cart-shopbee {
  font-size: 20px;
  transform: translateY(13px);
  color: #f0582b;
  border-left: 1px solid;
  padding: 3px 0 3px 15px;
  margin-left: 6px;
}

#cart-shopbee-img img {
  object-fit: cover;
  width: 140px;
  margin-left: 20px;
}

#cart-search-inputVoucher {
  outline: 2px solid #f05d40;
  box-sizing: border-box;
  border-radius: 2px;
  width: 620px;
  height: 40px;
  display: flex;
}

#cart-search-input-field {
  width: 100%;
  border: unset;
  padding-left: 10px;
  outline: unset;
}
.cart__icon {
  width: 20px;
}
#cart-search-icon {
  width: 80px;
  height: unset;
  outline: none;
  cursor: pointer;
  border: unset;
  background-color: #f05d40;
  display: grid;
  place-items: center;
}
#cart-search-icon ion-icon {
  font-size: 20px;
}
#cart-search-icon:active {
  background-color: #c04027;
}

/*! noi dung dat hang */

#cart-page-warp {
  width: 100%;
  background-color: #f5f5f5;
}

#cart-page-warp-containt {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#cart-page-notif {
  border: 1px solid #f3db97;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: white;
}

/*! khung san pham */

#cart-page-product-guide,
.cart_page_product_infor {
  flex-wrap: nowrap;
  background-color: white;
  min-height: 55px;
  border-radius: 3px;
  overflow: hidden;
}

.cart_page_product_guide {
  display: flex;
  padding: 0 40px;
  border-radius: 3px;
}

.cart_page_btn {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart_page_name_product {
  width: 350px;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 14px;
}

.cart_page_product_img {
  width: 80px;
}

.cart_page_product_img img {
  object-fit: 100%;
  width: 100%;
}

.cart_page_product_desc div {
  width: 220px;
  height: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart_page_quantity div {
  display: flex;
}

.cart_page_quantity_btn {
  outline: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  height: 32px;
  width: 32px;
  border: unset;
  background-color: white;
}

.cart_page_quantity_btn:active {
  background-color: #c5c5c5;
}

.cart_page_quantity div input {
  width: 50px;
  height: inherit;
  text-align: center;
  cursor: text;
  border: 1px solid #c5c5c5;
  outline: none;
}

.cart_page_about_product,
.cart_page_pricePerNumb,
.cart_page_quantity,
.cart_page_price,
.cart_page_otherAction {
  width: 170px;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 14px;
  color: #8c8888;
}

.cart_page_about_option {
  color: #8c8c8c;
}

.cart_page_action_wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
}

.cart_page_actionDel {
  position: relative;
}

.cart_page_actionDel::before {
  content: "Xoá sản phẩm";
  position: absolute;
  top: -70%;
  right: -110%;
  width: 100px;
  z-index: 10;
  display: none;
}

.cart_page_actionDel:hover::before {
  border: 1px solid #c5c5c5;
  color: #c04027;
  background-color: white;
  display: block;
}

.cart_page_actionDel ion-icon {
  font-size: 30px;
}

.cart_page_actionDel:hover,
.cart_page_actionDel ion-icon:hover {
  color: #c04027;
}

.cart_page_about_title {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart_page_product_seller {
  display: flex;
  align-items: center;
}

.cart_page_product_seller input {
  width: 50px;
}

.cart_page_product_voucher,
.cart_page_product_trans {
  display: flex;
  align-items: center;
  border-top: 1px solid #e8e8e8;
  height: 60px;
  padding: 0 40px;
  font-size: 14px;
}

.cart_page_voucher_icon {
  width: 55px;
  text-align: center;
}

.cart_page_voucherAdd a {
  text-decoration: none;
  margin: 0 10px;
}
.cart_page_trans_icon {
  width: 55px;
  text-align: center;
}

.cart_page_transAdd a {
  text-decoration: none;
  margin: 0 10px;
}
/*! khung san pham lap lai */

.cart_page_wrap_containt {
  margin: 25px 20px;
  outline: 1px solid #e8e8e8;
  border-radius: 4px;
}
.cart_page_actionAdd {
  color: #f0582b;
  font-size: 14px;
}
.cart_page_infor_warp {
  display: grid;
  grid-template-columns: 50px 332px 205px 147px 160px 146px 119px;
  align-items: center;
  text-align: center;
  padding: 15px 0;
  position: relative;
}
.cart__set--number-product-wrap {
  display: flex;
  justify-content: center;
}
.cart__set--number-product {
  display: flex;
  align-items: center;
  gap: 1px;
  background-color: #e8e8e8;
  width: fit-content;
  outline: 1px solid #e8e8e8;
  height: 32px;
}
.cart__set--number-product input {
  width: 50px;
  height: inherit;
  border: unset;
  text-align: center;
}
.cart_page_voucher_cover {
  background-color: #fff3ed;
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 50px;
  padding: 0 15px;
  gap: 10px;
}
.cart_page_voucher_add a {
  text-decoration: unset;
  color: #f0582b;
}
/*! san pham het han */
#cart_page-product-inactive {
  background: white;
}

#cart_page-product-inactive-title {
  height: 55px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

#cart_page-product-inactive-del-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

#cart_page-product-inactive-del {
  width: 500px;
  text-align: center;
  cursor: pointer;
}

.cart_page_product_guide_inactive {
  /* background: #000; */
  height: 100px;
  position: relative;
}
.cart_page_product_prize_infor{
    border-radius: 3px;
    overflow: hidden;
}
.cart_page_product_blur {
  height: 100px;
  width: 100%;
  filter: blur(100%);
  opacity: 0.8;
  position: absolute;
  top: 0%;
  background-color: white;
}

/*! khung san pham sticky */

#cart-page-sticky-block {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  box-shadow: 0px -5px 8px -6px #8c8888;
}

#cart-page-sticky-wrap {
  background-color: white;
}

#cart-page-sticky-voucher {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  border-bottom: 1px dashed #c5c5c5;
  padding-right: 20px;
}

#cart-page-sticky-voucher a {
  text-decoration: none;
}

#cart-page-sticky-voucher-wrap{
    display: flex;
    align-items: center;
    width: 320px;
}
#cart-page-sticky-coin-amount{
    width: 200px;
    text-align: right;
}
#cart-page-sticky-coin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  border-bottom: 1px dashed #c5c5c5;
  padding-right: 20px;
}

#cart-page-sticky-coin-check {
  display: flex;
  align-items: center;
  gap: 10px;
}

#cart-page-sticky-function {
  display: flex;
  text-overflow: ellipsis;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

#cart-page-sticky-function-btnBuy #cart-page-go-buy button{
  width: 200px;
  height: 40px;
  background-color: #f05d40;
  color: white;
  border-radius: 2px;
  outline: unset;
  border: none;
  cursor: pointer;
  text-decoration: unset;
}

#cart-page-sticky-function-btnBuy #cart-page-go-buy:hover button{
  background-color: #c04027;
}
