@media screen and (max-width: 1080px) {
    /* !header  */
    #seller-icon {
        display: none;
    }

    #seller-navbar-icon {
        flex: 2;
        justify-content: center;
        padding-left: 10px;
    }

    #seller-navbar-icon span {
        width: 100%;
        transform: none;
        flex: 1;
    }

    #navbar-content-icon {
        padding: 0;
    }

    #navbar-content-icon span {
        display: none;
    }

    #navbar-content-list input {
        display: none;
    }

    #seller-navbar-content {
        flex: 2;
        justify-content: end;
        padding-right: 20px;
    }

    /* !content */
    #seller-content {
        display: flex;
        flex-direction: column;
    }

    #seller-listOfContent {
        display: none;
    }

    .seller-sidebar {
        width: 100%;
    }

    #seller-sidebarMenu {
        display: flex;
    }

    .seller__name--title {
        flex-direction: column;
        width: 100px;
        align-items: center;
    }

    .sidebar__menu--content {
        display: none;
    }

    .seller__arrow--sidebar {
        display: none;
    }

    .seller_sidebarIcon {
        font-size: 2rem;
    }

    .seller__name--title span {
        text-align: center;
    }

    /*! noi dung chinh */
    #seller-contentTable {
        width: 100%;
        z-index: -1;
    }

    #seller-content-right-part {
        display: none;
    }

    #seller-content-right {
        width: 100%;
        display: block;
    }

    .seller__opttion--bar {
        width: 100%;
    }

    /*! todo list */
    #seller-todolistbox {
        grid-template-columns: repeat(3, 1fr);
    }

    /*! chart */
    #seller-shopAnalyst {
        height: fit-content;
    }

    #chart-analyst {
        display: block;
    }

    /*! marketing tool */
    #seller-marketing-card-wrap {
        display: flex;
    }

    .seller__marketing--card > div:nth-child(n + 3) {
        display: none;
    }
    /*!seller list*/
    #seller-listOfContent-respons {
        display: block;
        width: 100%;
        height: fit-content;
        z-index: 0;
    }
    .seller-sidebar-respon {
        width: 100%;
    }
    li {
        list-style: none;
    }
    #seller-sidebar-responMenu-title {
        width: 100%;
        overflow-x: scroll;
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
        background-color: #000;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    ::-webkit-scrollbar {
        display: none;
    }
    #seller-sidebar-responMenu-title div {
        cursor: pointer;
        width: 100px;
        color: #fff;
    }
    .respons_list_title {
        background-color: #252525;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 8px;
        text-align: center;
        z-index: 10;
    }
    .parent_active {
        background-color: #ffb81d;
        margin-bottom: 0%;
        border-radius: 8px 8px 0 0;
    }
    .sidebarList_respon {
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 0%;
        left: 0%;
        list-style: none;
        text-decoration: none;
        transition: 0.8s;
        visibility: hidden;
        opacity: 0;
        transform: scaleY(-1);
        transform-origin: top;
        background-color: #ffb81d;
        z-index: 1;
    }
    .respons_list_items {
        background-color: #ffb81d;
        /* border-radius: 0px 0px 8px 5px; */
    }
    .active {
        opacity: 1;
        padding: 10px;
        transform: scaleY(1);
        visibility: unset;
        border-radius: 0px 0px 10px 10px;
        z-index: 3;
    }
    #seller-sidebar-responMenu {
        height: auto;
        padding: 0%;
        margin: 0%;
        position: relative;
        list-style: none;
        z-index: 2;
    }
    .seller_icon_respon {
        color: #fff;
        font-size: 2rem;
    }
}
