#profile-process-bar-wrap {
    display: flex;
    background-color: white;
    box-shadow: 0 2px 2px 0 #0000001a;
    -webkit-box-shadow: 0 2px 2px 0 #0000001a;
    -moz-box-shadow: 0 2px 2px 0 #0000001a;
    position: sticky;
    z-index: 8;
    top: 0;
}
.profile__process-navbar-btn {
    text-decoration: none !important;
    color: black;
    height: 55px;
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
}
.profile__process-navbar-btn:last-child {
    padding-right: 5px;
}
.profile__process-navbar-btn.active_link {
    color: var(--color-4);
    border-bottom: 2px solid;
}
#profile-process-search-bar-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    background-color: #eaeaea;
    height: 45px;
    border-radius: 2px;
}
#profile-process-search-bar-wrap ion-icon {
    color: #bbbbbb;
    font-size: 24px;
}
#profile-process-search-input {
    all: unset;
    width: 100%;
}
#profile-process-wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 995px;
    position: relative;
}
#profile-process-list-product-wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.profile__process--card-product-wrap {
    background-color: #f5f5f5;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    box-shadow: 0 0.125rem 0.25rem #1b1b1b13;
    -webkit-box-shadow: 0 0.125rem 0.25rem #1b1b1b13;
    -moz-box-shadow: 0 0.125rem 0.25rem #1b1b1b13;
    overflow: hidden;
}
.profile__process--card-info {
    padding: 25px 25px 15px 25px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
}
.profile__process--card-info::before,
.profile__process--card-info::after {
    content: "";
    width: 10px;
    aspect-ratio: 1;
    background-color: #f5f5f5;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}
.profile__process--card-info::before {
    left: 0;
    transform: translate(-50%, 50%);
}
.profile__process--card-info::after {
    right: 0;
    transform: translate(50%, 50%);
}
.profile__process--card-product-owner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
}
.profile__process--card-owner-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile__process--shop-name {
    font-weight: bold;
}
.profile__process--shop-chat-btn,
.profile__process--shop-view-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 25px;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    padding: 0 5px;
    font-size: 13px;
}
.profile__process--shop-chat-btn {
    background-color: var(--color-4);
    color: white;
}
.profile__process--shop-view-btn {
    background-color: white;
    border: 1px solid #e8e8e8;
}
.profile__process--card-status {
    font-size: 17px;
    color: var(--color-4);
    text-transform: capitalize;
}
.profile__process--card-product-info {
    padding-top: 10px;
    display: flex;
    gap: 10px;
    width: 100%;
}
.profile__process--card-image {
    width: 80px;
    aspect-ratio: 1;
    border: 1px solid #e8e8e8;
    object-fit: contain;
}
.profile__process--card-name-amount {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.profile__process--card-price {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-self: right;
}
.profile__process--origin-price,
.profile__process--new-price {
    display: flex;
    font-size: 14px;
}

.profile__process--origin-price {
    color: #bbbbbb;
    text-decoration: line-through;
}
.profile__process--new-price {
    color: var(--color-4);
}
.profile__process--card-actions {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
    background-color: #fffefb;
}
.profile__process--card-total-price-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: right;
}
.profile__process--guraranteed {
    display: flex;
    align-items: center;
    gap: 5px;
}
.profile__process--guraranteed ion-icon {
    columns: var(--color-4);
}
.profile__process--total-price {
    display: flex;
    align-items: center;
    color: var(--color-4);
}
.profile__process--total-price span {
    font-size: 25px;
}
.profile__process--actions-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile__process--card-actions-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile__process--cart-action-status {
    font-size: 13px;
    color: #bbbbbb;
}
.profile__process--card-actions-btn {
    all: unset;
    width: 150px;
    height: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
    outline: unset !important;
}
.profile__process-buy-again-btn {
    background-color: var(--color-4);
    color: white;
}
.profile__process-wait-btn {
    cursor: wait;
    color: #c2c1bf;
    background-color: #e5e4e1;
    border-color: #d4d3d1;
}
.profile__process-hack:hover {
    opacity: 0.8;
}
.profile__process-hack-next-btn {
    background-color: var(--color-2);
}
.profile__process-hack-back-btn {
    background-color: var(--color-3);
    color: white;
}
#profile-process-emty-order-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 100%;
    height: 600px;
    background-color: white;
    border-radius: 2px;
}
#profile-process-empty-order-image {
    width: 170px;
    aspect-ratio: 1;
    opacity: 1;
    animation: faded 300ms linear;
}
@keyframes faded {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
