:root {
    --main-Color: bisque;
    --navb-font-size: 17px;
    /* --layout-width: 80%; */
    --layout-width: 1200px;
    --margin-space: 15px auto;
    --color-1: #191a21;
    --color-2: #ffd02e;
    --gray-soft: #f5f5f5;
    --gray-light: #fbfbfb;
    --gray-hard: #939393;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
.logo__color--orange{
    color: #F1582C;
}
.logo__color--yellow{
    color: #F4B528;
}
.shadow__text{
    text-shadow: 1px 2px #474747;
}