* {
	margin: 0%;
	padding: 0%;
}

#login_page-cover {
	width: 100%;
}

#login_page-header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px auto;
	width: 1200px;
	height: 84px;
}

#login_page-header-content {
	display: flex;
	text-align: center;
	align-items: center;
	gap: 30px;
}

#login_page-header-logo-wrapper {
	width: 144px;
	transform: translateX(10px) translateY(-5px);
}

#login_page-header-logo-wrapper img {
	object-fit: cover;
	width: 100%;
	scale: 1.2;
}

#login_page-header-logo-script {
	font-size: 1.4rem;
}

#login_page-header-help {
	color: #ee4d2d;
	margin-right: 15px;
}

#login_page-header-help-detail {
	font-size: 0.875rem;
	text-decoration: none;
	color: #ee4d2d;
}

/*! phan noi dung */
#login_page-content-wrapper {
	min-width: 100%;
	width: 1200px;
	background-color: #ee4d2d;
	display: flex;
	justify-content: center;
}

#login_page-content {
	display: flex;
	margin: 0 80px;
	height: 600px;
	width: 1040px;
	background-image: url("../../../img/login_represent.png");
	background-repeat: no-repeat;
	background-size: 550px;
	background-position: left center;
	justify-content: flex-end;
	align-items: center;
}

#login_page-content-pic {
	width: 1040px;
}
#scroll-to-top{
	display: none !important;
}
#login_page-content-form {
	background-color: #fff;
	width: 400px;
	box-sizing: border-box;
	box-shadow: 0 3px 10px 0 #00000024;
	border-radius: 4px;
}

#login_page-content-form-logins {
	display: flex;
	flex-direction: column;
	gap: 1.375rem;
}

#login_page-content-form-label {
	display: flex;
	padding: 1.375rem 30px 0 !important;
	font-size: 1.25rem;
	justify-content: space-between;
	align-items: center;
}

#login_page-content-form-label ion-icon {
	font-size: 2.5rem;
}
#login_page-content-form-label label{
	white-space: nowrap;
}
#login_page-content-form-qr-login {
	display: flex;
	margin-left: 1.25rem;
}

#login_page-content-form-qr-wrap {
	display: flex;
	align-items: center;
}

#login_page-content-form-qr-wrap-detail {
	background-color: #fefaec;
	padding: 0.6875rem 0.875rem;
	color: #ffbf00;
	font-size: 0.875rem;
	font-weight: 700;
	border: 2px solid #ffbf00;
	border-radius: 2px;
	position: relative;
	margin-right: 1rem;
	z-index: 1;
}

#login_page-content-form-qr-wrap-detail::after {
	position: absolute;
	content: "";
	box-sizing: border-box;
	width: 0.75rem;
	height: 0.75rem;
	transform: rotate(45deg) translateX(-50%);
	border-top: 2px solid #ffbf00;
	border-right: 2px solid #ffbf00;
	background-color: #fff;
	top: 50%;
	right: -0.75rem;
	z-index: 2;
}
#login_page-content-form-qr-wrap-detail::before {
	position: absolute;
	content: "";
	box-sizing: border-box;
	width: 0.75rem;
	height: 0.75rem;
	transform: rotate(45deg) translateX(-50%);
	border-top: 2px solid #ffbf00;
	border-right: 2px solid #ffbf00;
	background-color: #FEFAEC;
	top: 50%;
	right: -0.75rem;
	z-index: 3;
}

#login_page-content-form-logins > div {
	padding: 0 30px;
}

#login_page-content-form-input-wrap,
#login_page-content-form-pwd-wrap {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.14);
	border-radius: 2px;
	box-sizing: border-box;
	height: 2.5rem;
	display: flex;
	align-items: center;
}

#login_page-content-form-input-field,
#login_page-content-form-pwd-field {
	margin: 15px;
	outline: none;
	border: none;
	width: 100%;
}

#login_page-content-form-input-field::placeholder {
	color: #ccc;
}

#login_page-content-form-pwd-field::placeholder {
	color: #ccc;
}

#login_page-content-form-btn button {
	background-color: var(--color-4);
	color: #fff;
	outline: none;
	border: none;
	text-align: center;
	height: 2.5rem;
	width: 100%;
	text-transform: uppercase;
	border-radius: 2px;
	font-size: 13px;
    font-weight: bold;
}

#login_page-content-form-pageSep-wrap {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.login_page-content-form-pageSep-line {
	background-color: #ccc;
	width: 100%;
	flex: 1;
	height: 1px;
}

#login_page-content-form-pageSep-content {
	color: #939393;
	background-color: #fff;
	width: fit-content;
	padding: 0 10px;
	z-index: 1;
	font-size: 14px;
}

#login_page-content-form-otherMethod-wrap {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.login_page_content_for_otherMethod {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	height: 36px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.14);
	border-radius: 2px;
	cursor: pointer;
}

.login_page_content_for_otherMethod ion-icon {
	font-size: 1.5rem;
}

.login_page_content_for_otherMethod:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

#login_page-content-form-rule {
	line-height: 18px;
	text-align: center;
}

#login_page-content-form-rule > a {
	text-decoration: none;
	color: #ee4d2d;
}

#login_page-content-form-loginSite {
	margin: 5px 0 30px 0;
	text-align: center;
}

#login_page-content-form-loginSite > a {
	text-decoration: none;
	color: #ee4d2d;
}

#login_page-content-form-loginSite {
	display: flex;
	justify-content: center;
	gap: 5px;
}

#login_page-content-form-loginSite span {
	color: #ccc;
}

#login_page-content-form-otherLogin {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

#login_page-content-form-otherLogin a {
	text-decoration: none;
	color: black;
	font-size: 13px;
}

ion-icon[name="logo-facebook"] {
	color: blue;
}
#login-page-wrap-all{
	position: relative;
	width: 100%;
}