@media screen and (max-width: 1080px) {
    #data-body-transfer {
        width: 100%;
        overflow: hidden;
    }
    #data-body-transfer div::-webkit-scrollbar {
        display: none;
        scrollbar-width: none;
        width: 0 !important;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }

    .mainHome-homeCarousel {
        display: block;
        height: 100%;
        width: 100%;
    }

    .mainHome-homeCarousel-block-right,
    .mainHome-homeCarousel-block-right {
        display: none;
    }

    #mainHome-activity {
        height: 150px;
        display: flex;
        width: 100%;
        overflow-x: scroll;
        scrollbar-width: none;
        padding: 10px;
    }

    #mainHome-activity-wrapper {
        width: max-content;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    /*! DANH MỤC */
    .mainHome__category {
        width: 100%;
    }

    #mainHome__category--wrap {
        width: 100%;
    }

    #mainHome-category-tray-wrap {
        overflow: scroll;
        width: 100%;
    }

    #mainHome-category-tray-wrap {
        overflow-x: scroll;
    }
    #mainHome-listOfCate {
        width: max-content;
        display: flex;
    }

    .mainHome-listOfType {
        /* height: 150px; */
        width: 150px;
    }
    #mainHome-listOfCate img {
        object-fit: cover;
        width: 100%;
    }

    #mainHome-category-arrow-left,
    #mainHome-category-arrow-right {
        display: none;
    }

    /*! flash sale */
    .mainHome__flashSale--wrap {
        width: 100%;
    }

    .mainHome-listOfFlashcate {
        display: flex;
        width: fit-content;
        padding: 10px;
    }

    .mainHome-listOfFlashcate_wrapper {
        overflow-x: scroll;
        scrollbar-width: none;
        width: 100%;
        padding: 10px 0 0 0;
    }

    #mainHome-listOfFlash-1 {
        width: max-content;
    }

    .mainHome-ads-block-2 {
        display: flex;
        align-items: center;
        width: 100%;
    }

    #mainHome-ads-inside-respon2 {
        flex: 2;
    }

    #mainHome-ads-inside-respon1,
    #mainHome-ads-inside-respon3 {
        flex: 1;
        height: 70px;
    }
    .mainHome-listOfFlash img{
        width: clamp(200px, 200px, 200px);
    }

    :is(#mainHome-ads-inside-respon1, #mainHome-ads-inside-respon3) :is(img) {
        border-radius: 10px;
        width: 100%;
        height: 50px;
        object-fit: cover;
    }
    .mainHome-ads-inside_respons {
        display: flex;
        align-items: center;
    }

    .mainHome-ads-inside_respons img {
        object-fit: cover;
        width: 100%;
    }

    #mainHome-top-finding {
        width: 100%;
    }

    .mainHome__part--title-wrap {
        width: 100%;
    }

    #mainHome-top-finding-wrap {
        overflow-x: scroll;
        scrollbar-width: none;
        width: 100%;
        padding: 10px;
    }

    #mainHome-card-topfind-wrap {
        width: 100%;
        width: max-content;
    }

    .mainHome__card--topfind {
        position: relative;
    }

    .mainHome__topFind--name {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        z-index: 2;
        border-radius: 5px;
        padding: 0 5px;
    }

    .mainHome__topFind--price {
        color: #000;
        height: 80px;
        background-color: #fff;
        backdrop-filter: blur(2px);
        z-index: 2;
    }

    .mainHome__topFind--top {
        transform: translateY(0%);
    }

    /*! shoppe mall */
    .mainHome-mallCarousel {
        display: none;
    }

    .mainHome__shopbeeMall--wrap {
        width: 100%;
    }

    .mainHome__wrap--shop-carousel_wrapper {
        overflow-x: scroll;
        scrollbar-width: none;
        width: 100%;
        padding: 20px 10px;
    }
    .mainHome__wrap--shop-carousel {
        width: max-content;
        display: block;
    }
    .mainHome-ads-inside img{
        width: 390px;
    }
    .mainHome-bigComapanyProducts {
        flex-wrap: nowrap;
        justify-content: unset;
        padding-bottom: 10px;
    }

    #mainHome-card-suggest-wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        width: 100%;
    }

    #mainHome-suggest-wrap {
        width: 100%;
        padding: 10px 10px 30px 10px;
    }
}
