@media screen and (max-width: 1080px) {
    /*! header */
    .mainHome_navbar {
        background-color: rgba(0, 0, 0, 0);
    }

    #mainHome_navbar_about_topic-respon-hidden {
        color: #ffb81d;
        background-color: #000;
        border-radius: 4px;
        width: fit-content;
        font-size: 1.8rem;
    }

    #headerHome-display-cart-number {
        height: auto;
        width: 20px;
        aspect-ratio: 1;
        top: 0px;
        right: -5px;
    }

    .mainHome_navbar_containt {
        height: auto;
        background-color: #fff;
        gap: 10px;
    }
    /*! page content */

    #product-body {
        display: block;
        padding: 0 0.75rem;
        width: 100%;
        margin-top: auto;
        /* overflow: hidden; */
    }

    #product-img {
        width: 100%;
    }

    #product-carousel-tray {
        opacity: 1;
    }

    #product__carousel--arrow-previous,
    #product__carousel--arrow-next {
        color: #000;
        top: 100%;
    }
    #product-page-content {
        width: 100%;
    }

    #product-img {
        width: 100%;
        position: relative;
    }

    #product-image-carousel-wrap {
        position: absolute;
        top: 50%;
        width: 100%;
    }
    #product-carousel-tray {
        visibility: hidden;
    }

    #product__carousel--arrow-previous,
    #product__carousel--arrow-next {
        background-color: #252525;
        color: #fff;
        height: 100px;
        width: 35px;
        opacity: 0.8;
        text-align: center;
        transform: translateY(0%);
        top: 0%;
    }

    #product__carousel--arrow-previous {
        left: 0%;
        border-radius: 0px 15px 15px 0px;
        transform: translateX(-0.75rem);
    }

    #product__carousel--arrow-next {
        right: 0%;
        border-radius: 15px 0px 0px 15px;
        transform: translateX(0.75rem);
    }
    /* 
    #product-shareLike-item {
        display: none;
    }

    #product-shareLike {
        position: absolute;
        bottom: -20%;
        right: 10%;
    } */

    #product-title {
        width: 100%;
        overflow: hidden;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        text-overflow: ellipsis;
    }

    /*! product-seller-action */
    /* #product-seller-action {
        width: 100%;
    }

    #product-seller-profile {
        display: block;
        width: 100%;
    }

    #product-seller-profile-left {
        width: 100%;
    }

    #product-seller-info-wrap {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex: 1;
    }

    #product-seller-info-wrap-contact {
        display: block;
    }

    #product-seller-chat-btn {
        display: none;
    } */

    #product-seller-viewShop-btn {
        border: 1px solid #ee4d2d;
        color: #ee4d2d;
    }

    .product-spec_feature_respon {
        height: 300px;
        overflow-y: hidden;
        position: relative;
    }

    .product-spec_feature_full {
        height: max-content;
    }

    .product-spec_feature_btn_down {
        display: block;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 10px;
        border: 1px solid #ee4d2d;
        color: #ee4d2d;
        border-radius: 3px;
    }

    .product-spec_feature_btn_full {
        display: none;
    }

    .product-spec_feature_btn_up {
        display: block;
        margin: 0 auto;
        padding: 5px 10px;
        border: 1px solid #ee4d2d;
        color: #ee4d2d;
        border-radius: 3px;
    }

    .product-spec_feature_btn_srink {
        display: block;
    }

    .product-spec_feature_btn_down:focus,
    .product-spec_feature_btn_up:focus {
        outline: none;
        border: 1px solid #ee4d2d;
    }

    #product-spec_feature-wrapper {
        height: max-content;
    }

    .product-rate-comment-section {
        width: 100%;
    }
    #product-list-rate-wrap {
        width: 100%;
        overflow: hidden;
    }
}
