@media screen and (max-width: 1080px) {
    #mainHome_navbar_about_topic-respon-hidden {
        display: grid;
        place-items: center;
        width: auto;
        color: #fff;
        font-size: 2.3rem;
    }
    .mainHome_personal ion-icon {
        font-size: 2.3rem;
    }
    .mainHome_navbar {
        position: fixed !important;
        top: 0;
        width: 100%;
        transition: top 0.3s;
        width: 100%;
        position: relative;
        padding: 0;
        background-color: #191a21d0;
    }

    #headerHome-display-cart-number {
        height: auto;
        width: 24px;
        aspect-ratio: 1;
        border-radius: 50%;
    }

    .mainHome_navbar_aboutUs {
        display: block;
        height: 100vh;
        z-index: 3;
        width: 0%;
        background-color: #191a21;
        position: absolute;
        right: 0%;
        transition: all ease 200ms;
    }

    .mainHome_navbar_about_topic ul {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-bottom: 1px solid #ffb81d;
    }

    #mainHome_navbar_about_topic-close-icon {
        display: block;
    }

    #mainHome_navbar_about_topic-close-icon ion-icon {
        color: #ffb81d;
        font-size: 1.6rem;
    }

    .mainHome_navbar_aboutUs-wrapper {
        display: block;
        background-image: url(https://cdn.discordapp.com/attachments/851277080344002622/1030748832247590952/wave-haikei_1.png);
        background-repeat: no-repeat;
        background-position: left 50% top;
        background-size: cover;
        background-color: #191a21;
        height: 100%;
        width: 0%;
        position: absolute;
        right: 0%;
        transition: right 0.2s;
    }

    .mainHome__split--line {
        display: none;
    }

    .mainHome_navbar_containt {
        align-items: center;
        justify-content: space-around;
        padding: 5px 10px 0px;
        height: auto;
        display: flex;
        width: 100%;
        gap: 5px;
    }

    #mainHone-search-field {
        display: flex;
        justify-content: center;
        flex: 1;
        margin: 0;
    }

    #mainHome-Icon {
        display: none;
    }

    .mainHome_shopIcon {
        display: none;
    }

    .no_decoration {
        display: block;
    }

    #mainHome-list-recommend {
        display: none;
    }
    .menuIconItem {
        width: 100%;
        background-color: rgb(101, 101, 101, 0.8);
    }

    .menuItems {
        width: 50%;
    }
    #mainHome-cart-hidden,
    .mainHome_personal ion-icon[name="cart-outline"] {
        display: none;
    }

    #mainHome-cart-view-btn-respon {
        display: block;
        color: #ffb81d;
    }
    #mainHome_navbar_about_topic-close-icon {
        margin: 250px 0 0 20px;
    }

    #mainHome-search-inp {
        border-radius: 3px;
        padding: 0%;
        height: 30px;
        width: 0;
        transition: 0.3s all ease;
    }

    #mainHome-search-inp:focus {
        outline: none;
    }

    .mainHome_pageSearch {
        background-color: rgba(255, 255, 255, 0);
        padding: 0%;
    }
    ion-icon[name="search-outline"] {
        font-size: 1.8rem;
    }
    #mainHome_pageSearchHome_search {
        padding: 0 10px 0 0;
        background-color: rgba(255, 255, 255, 0);
    }
    #mainHome_pageSearchHome_search:focus {
        outline: none;
    }

    :has(#mainHome_pageSearchHome_search:focus) #mainHome-search-inp,
    #mainHome-search-inp:focus {
        padding: 5px;
        width: 100%;
        margin-right: 5px;
    }

    :has(#mainHome_pageSearchHome_search:focus, #mainHome-search-inp:focus)
        :is(.mainHome_personal, #mainHome_navbar_about_topic-respon-hidden) {
        transform: scale(0);
        opacity: 0;
        width: 0%;
    }
    .mainHome_personal,
    #mainHome_navbar_about_topic-respon-hidden {
        transition: 0.3s;
    }
}
